html {
  --dark-black: rgb(57, 52, 52);
  --white: white;
}
:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
}
body {
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--dark-black);
  opacity: 1;
  color: var(--white);
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin: auto 20px;
    }
  }
  i{
    margin-right: 5px;
  }
  a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
 /* add transition underline to link in navbar */
  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 6px;
    background-color: hotpink;
    transition: width 0.3s ease;
  }
  a:hover::after {
    width: 100%;
  }
  a:hover {
    font-size: 32px;
  }
}
main {
  margin-top: 10vh;
  min-height: 50vh;
  background-color: red;
}
