html {
  --dark-black: #0d0b16aa;
  --white: white;
}
:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
}
body {
  background-image: url(./images/back-image.avif);
  color: var(--white);
  background-size: cover;
  
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--dark-black);
  color: var(--white);
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin: auto 20px;
    }
  }
  i {
    margin-right: 5px;
  }
  a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  /* add transition underline to link in navbar */
  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 6px;
    background-color: hotpink;
    transition: width 0.3s ease;
  }
  a:hover::after {
    width: 100%;
  }
  a:hover {
    font-size: 32px;
    text-shadow: 2px 2px 2px hotpink;
  }
}
main {
  margin-top: 10vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
  aside {
    grid-area: sidebar;
    border-right: 10px solid rgba(255, 255, 255, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 20vw;
            height: 32vh;
            border-radius: 50%;
            border: 10px solid white;
            transition: transform 0.3s ease;
            margin-top: 30px;
    }
    img:hover{
        transform: scale(1.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}
  
  section{
    border-bottom: 10px solid rgba(255, 255, 255, 0.516);
  }
}
footer{
    border-top: 10px solid rgba(255, 255, 255, 0.561);
    height: 30vh;
}
